html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  width: inherit;
  height: inherit;
}

.menu-container {
  text-align: center;
  border: 1px solid blue;
}

.menu-top {
  color: white;
  background: rgb(83,132,179);
  padding: 10px;
}

.menu-bottom p{
  color: rgb(83,132,179);
  display: inline-block;
}

.game-area {
  text-align: center;
  background: rgb(35,34,35);
  height: 100%;
  width: 100vw;
  padding-top: 40px;
}

.color-square-container {
  width: 75vw;
  max-width: 500px;
  height: 50%;
  margin: 0 auto;
  border: 1px solid white;
}

.color-square-tile {
  margin: 1.66%;
  padding-bottom: 30%;
  width: 30%;
  float: left;
  background: green;
  border-radius: 12px;
  transition: all .1s ease-in-out;
}

.color-square-tile:hover {
  box-shadow: 0 0 2px 4px white;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 white;
  }
  100% {
    box-shadow: 0 0 3px 4px white;
  }
};
